/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* FRAMEWORK */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* UTILITY FIRST */

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}


/* DEBUG */

.debug .container {
    
}

.debug .row { /* REMOVE WHEN DONE */
    border: 2px dashed black;
    padding: 5px;
    background-color: white;
}

.debug [class^=col] {
    border: 2px dashed black;
    padding: 5px;
}

.debug header {
    background-color: #ADD8E6;
    border-bottom: 2px solid #ADD8E6; /* O padding-bottom */
}

.debug nav {
    padding: 10px;
}

.debug nav [class^=col] {
    background-color: #DAA520;
}

.debug .cblue {
    background-color: #00008B;
    padding: 20px;
}

.cblue .row {
    background-color: #EE82EE;
    min-height: 300px;
    max-width: 800px;
    margin: 0 auto;
}