/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* FRAMEWORK */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* UTILITY FIRST */

.col-25 {
    width: 25%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-50 {
    width: 50%;
}

.col-66 {
    width: calc(100% / 3 * 2);
}

.col-100 {
    width: 100%;
}

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}


/* DEBUG */

.debug .row { /* REMOVE WHEN DONE */
    border: 2px dashed black;
    padding: 5px;
    background-color: white;
}

.debug [class^=col] {
    border: 2px dashed black;
    padding: 5px;
}

.debug header {
    background-color: #ADD8E6;
    border-bottom: 2px solid #ADD8E6; /* O padding-bottom */
}

.debug nav [class^=col] {
    background-color: #DAA520;
}

.debug header {
    padding: 20px;
}

.debug .bgblue .row {
    min-height: 250px;
    max-width: 800px;
    margin: 0 auto;
}

.debug .bgblue [class^=col] {
    background-color: #EE82EE;
}

.debug .bgblue {
    background-color: #00008B;
    padding: 20px;
}

.debug .bgwhite {
    background-color: white;
}

.debug .bggrey {
    background-color: #D3D3D3;
}

.debug main section {
    padding: 40px;
}

.debug main .col-33 {
    background-color: #FFC0CB;
}

.debug main .col-66 {
    background-color: #1E90FF;
}

.debug main [class^=col] {
    min-height: 300px;
}

.debug .greenbig .col-100{
    min-height: 600px;
    background-color: #228B22;
}