/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* FRAMEWORK */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* UTILITY FIRST */

.col-16_5 {
    width: calc(100% / 6)
}

.col-25 {
    width: 25%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-50 {
    width: 50%;
}

.col-66 {
    width: calc(100% / 3 * 2);
}

.col-100 {
    width: 100%;
}

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}


/* DEBUG */

/* REMOVE WHEN DONE */
/* .debug .row {
    border: 2px dashed black;
    padding: 5px;
    background-color: white;
} */

.debug [class^=col] {
    border: 2px dashed black;
    padding: 5px;
}

.debug header {
    background-color: #ADD8E6;
    border-bottom: 2px solid #ADD8E6; /* O padding-bottom */
}

.debug header nav {
    padding-bottom: 20px;
}

.debug header nav [class^=col] {
    background-color: #DAA520;
}

.debug header {
    padding-top: 20px;
}

.debug .bgblue .row {
    min-height: 250px;
    max-width: 800px;
    margin: 0 auto;
}

.debug .bgblue [class^=col] {
    background-color: #EE82EE;
}

.debug .bgblue {
    background-color: #00008B;
    padding: 20px;
}

.debug .bgwhite {
    background-color: white;
}

.debug .bggrey {
    background-color: #D3D3D3;
}

.debug .bgblack {
    background-color: #23272A;
}

.debug main section {
    padding: 40px;
}

.debug main .col-33 {
    background-color: #FFC0CB;
}

.debug main .col-66 {
    background-color: #1E90FF;
}

.debug main [class^=col] {
    min-height: 300px;
}

.debug .greenbig .col-100{
    min-height: 600px;
    background-color: #228B22;
}

.debug footer section{
    padding-top: 5px;
    padding-bottom: 20px;
}

.debug footer .cards [class^=col] {
    min-height: 350px;
}

.debug .cards .col-33 {
    background-color: #F08080;
}

.debug .cards .col-16_5 {
    background-color: #20B2AA;
    border-color: white;
}

.debug footer .cards {
    border-bottom: 1px solid #CCCDCD;
}

.debug footer nav .row {
    background-color: #7FFFD4;
    padding: 10px 0;
    justify-content: space-between;
}

.debug footer nav .row div {
    background-color: #FFB6C1;
    font-size: 10px;
}

.debug footer nav {
    padding-top: 20px;
}